<h2 class="cases-h2">cases</h2>
<section class="conteiner-tabs">
    <ul class="tabs">
        <li class="tabs-title active" data-id="one-tabs">all</li>
        <li class="tabs-title" data-id="one-tabs">strategy</li>
        <li class="tabs-title" data-id="two-tabs">naming</li>
        <li class="tabs-title" data-id="three-tabs">identity</li>
        <li class="tabs-title" data-id="four-tabs">ui/ux</li>
    </ul>
    <ul class="tabs-content">
        <li class="tabs-item open" data-content="one-tabs">
            <div class="tabs-content-img tabs-content-box-left">
            <div class="tabs-content-box">
                <img src="./../../img/tabs/img-one.png" alt="image">
                <div class="green-bg"></div>
            </div>
                <div class="tabs-content-span">
                    <span>bran</span>
                    <span>ding</span>
                </div>
            </div>
        </li>
        <li class="tabs-item" data-content="two-tabs">
            <div class="tabs-content-img tabs-content-box-right">
              <div class="tabs-content-box">

                <img src="./../../img/tabs/img-two.png" alt="image">
                <div class="green-bg"></div>
               </div> 
                <div class="tabs-content-span">
                    <span>pack</span>
                    <span>ing</span>
                </div>
            </div>

        </li>
        <li class="tabs-item" data-content="three-tabs">
            <div class="tabs-content-img tabs-content-box-left">
                <div class="tabs-content-box">

                <img src="./../../img/tabs/img-one.png" alt="image">
                <div class="green-bg"></div>
</div>
                <div class="tabs-content-span">
                    <span>bran</span>
                    <span>ding</span>
                </div>
            </div>


        </li>
        <li class="tabs-item" data-content="four-tabs">
            <div class="tabs-content-img tabs-content-box-right">
                <div class="tabs-content-box">

                <img src="./../../img/tabs/img-two.png" alt="image">
                <div class="green-bg"></div>
                </div>
                <div class="tabs-content-span">
                    <span>pack</span>
                    <span>ing</span>
                </div>
            </div>
        </li>
    </ul>
    <h4 class="tabs-footer">
        <a href="#">push to see all 
             <!-- <div class="arrow-right"></div> -->
        </a>
    </h4>
</section>