<h2 class="cases-h2">cases</h2>
<section>
    <ul class="tabs">
        <li class="tabs-title active" data-id="one-tabs">all</li>
        <li class="tabs-title" data-id="one-tabs">strategy</li>
        <li class="tabs-title" data-id="two-tabs">naming</li>
        <li class="tabs-title" data-id="three-tabs">identity</li>
        <li class="tabs-title" data-id="four-tabs">ui/ux</li>
    </ul>
    <ul class="tabs-content">
        <li class="tabs-content open" data-content="one-tabs">
            <div>
                <img src="./../../img/tabs/img-one.png" alt="image">
            </div>
        </li>
        <li class="tabs-content" data-content="two-tabs">
            <div>
                <img src="./../../img/tabs/img-two.png" alt="image">
            </div>
        </li>
        <li class="tabs-content" data-content="three-tabs">
            <div>
                <img src="./../../img/tabs/img-one.png" alt="image">
            </div>
        </li>
        <li class="tabs-content" data-content="four-tabs">
            <div>
                <img src="./../../img/tabs/img-two.png" alt="image">
            </div>
        </li>


    </ul>
</section>