<header class="header">
    <img src="../../img/IMG_6539.png" class="main-img">
    
    <img src="./img/logo.png" class="logo" alt="logo">

        <nav class="menu">
            <ul class="menu__box">
                <li class="menu__item"><a href="#">cases</a></li>
                <li class="menu__item"><a href="#">about</a></li>
                <li class="menu__item"><a href="#">blog</a></li>
                <li class="menu__item"><a href="#">contacts</a></li>
            </ul>
        </nav> 
    <div class="sphere">
        <ol reversed class="paces" lang="en">
            <li class="pace js">JS+
                <blockquote class="quote js">JS+: The JavaScript ecosystem (not the language!): Anyone else feels overwhelmed by the rate of rapid changes here?</blockquote>
            </li>
            <li class="pace css">CSS
                <blockquote class="quote css">CSS: This is moving in a nice click lately, with lots of useful new stuff enabled in the browsers</blockquote>
            </li>
            <li class="pace html">HTML
                <blockquote class="quote html">HTML: Started with 20 something "tags", now we have over 100 "elements", but I feel that I've been able to keep up with the pace of change here</blockquote>
            </li>
            <li class="pace url">URLs
                <blockquote class="quote url">URLs: Sadly they are frequently changing; links die. We should work hard to keep URLs unchanged, but that's not how it is</blockquote>
            </li>
            <li class="pace http">HTTP
                <blockquote class="quote http">HTTP: Gradually changed (http/2), but it kind of feels good that it doesn't constantly change underneath us</blockquote>
            </li>
            <li class="pace tcpip">TCP/IP
                <blockquote class="quote tcpip">TCP/IP: Deliberately dumb, simple, all it does is move packets around</blockquote>
            </li>
        </ol>
    </div>

</header>
