@font-face {
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/LexendZetta-Medium.ttf');
}

@font-face {
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/LexendZetta-Regular.ttf');
}

@font-face {
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/LexendZetta-SemiBold.ttf');
}

@font-face {
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/LexendZetta-Thin.ttf');
}

@font-face {
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/LexendZetta-Light.ttf');
}

@font-face {
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/LexendZetta-ExtraLight.ttf');
}

@font-face {
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/LexendZetta-Black.ttf');
}

@font-face {
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/LexendZetta-Bold.ttf');
}

@font-face {
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/LexendZetta-ExtraBold.ttf');
}