.cases-h2 {
    background: #AFA389;
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #16202A;
    margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 85px;
}

.tabs {
    list-style: none;
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #16202A;
    display: flex;
    justify-content: center;
    margin: 80px 50px 150px 50px;
}