.header {
    position: relative;
}
.main-img {
height: auto;
width: 100%;
}

.logo {
    height: fit-content;
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 1200px){
        top: 7%;
}
@media screen and (max-width: 768px){
    top: 9%;
    width: 150px;
}
@media screen and (max-width: 501px){
    top: 12%;
    left: 30%;
}
}
.menu {
    position: absolute;
    top: 5%;
    right: 10%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 1200px){
        top: 7%;
        right: 5%;
}
@media screen and (max-width: 768px){
    top: 10%;
    right: 0;
}
@media screen and (max-width: 501px){
    top: 15%;
}
}

.menu__box {
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 200px;
    justify-content: space-around;
    @media screen and (max-width: 768px){
        height: 100px;

    }
}

.menu__item {
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    list-style: none;
    @media screen and (max-width: 768px){
        font-size: 14px;

    }
}

.menu__item a:hover {
    background: #AFA389;
    color: black;
}

.menu__item a {
    color: #ffffff;
    text-decoration: none;
}

.sphere {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(0.5em + 1vmin);
    color: #eee;
    width: 90%;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    @media screen and (max-width: 1500px){
            max-width: 30em;
            top: 22%;
    }
    @media screen and (max-width: 1200px){
        max-width: 25em;
}
    @media screen and (max-width: 768px){
    max-width: 20em;
    font-size: calc(0.5em + 1vmin);
}
@media screen and (max-width: 501px){
    display: none;
}
}


.paces {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    padding-top: 100%;
}

.pace {
    font-size: 90%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 60%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all ease-in-out 0.2s;
    @media screen and (max-width: 768px){
        font-size: 70%;

    }
    .quote {
        opacity: 0;
        margin: 0;
        padding: 0;
    }
    &:hover,
    &:focus,
    &:active {
        cursor: grabbing;
        background-color: #111;
        color: #111;
        animation: none !important;
        .quote {
            color: #fff;
            hyphens: auto;
            z-index: 100;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.pace {
    &.js {
        margin: 5%;
        animation: 4s infinite linear rotate;
        box-shadow: 0 0 5em #fff;
    }
    &.css {
        margin: 10%;
        animation: 5s infinite linear rotate;
    }
    &.html {
        margin: 15%;
        animation: 10s infinite linear rotate;
    }
    &.url {
        margin: 20%;
        animation: 15s infinite linear rotate;
    }
    &.http {
        margin: 25%;
        animation: 25s infinite linear rotate;
    }
    &.tcpip {
        margin: 30%;
        animation: 35s infinite linear rotate;
    }
}

.quote {
    &.js {
        padding: 10%;
    }
    &.css {
        padding: 5%;
    }
    &.html {
        padding: 4%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}